/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
}

.card {
  background-color: #fff;
  position: absolute;
  max-width: 22rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  margin: 2rem 1rem;
}

.card__img {
  border-radius: 20px 20px 0 0;
}

.card__title {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin-top: 1rem;
}

.card__body {
  margin: 0 1rem;
  color: hsl(224, 23%, 55%);
}

.plan {
  display: flex;
  gap: 1rem;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
}

.plan__selection {
  text-align: left;
  color: hsl(224, 23%, 55%);
  margin-left: 0.5rem;
}

.plan__selection-title {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.plan__change {
  color: hsl(245, 75%, 52%);
  font-weight: 900;
}

.plan__change:hover {
  color: hsl(245, 83%, 68%);
}

.card__payment-btn {
  cursor: pointer;
  margin: 1rem;
  background-color: hsl(245, 75%, 52%);
  color: white;
  border-radius: 10px;
  padding: 0.75rem;
  border: none;
  font-weight: 900;
  box-shadow: 0 4px 15px rgba(54, 54, 54, 0.432);
}

.card__payment-btn:hover {
  background-color: hsl(245, 83%, 68%);
}

.card__cancel-btn {
  cursor: pointer;
  padding: 0.75rem;
  margin: 0 1rem 1rem 1rem;
  background-color: inherit;
  border: none;
  color: hsl(224, 23%, 55%);
  font-weight: 900;
  align-self: center;
}

.card__cancel-btn:hover {
  color: hsl(245, 75%, 52%);
}

@media (min-width: 376px) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
